<section>
<body>

    <!-- Navigation -->
  <!--   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
          <!--   <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </butto --><!--n>
               <!--  <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div> -->
            <!-- Collect the nav links, forms, and other content for toggling -->
           <!--  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        <!-- </div> -->
        <!-- /.container -->
    <!-- </nav> -->

    <!-- Page Content -->
    <div class="container">Search Results

        <!-- Page Heading -->
       <!--  <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div> -->
        <!-- /.row -->
        
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
              <!--   <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a> -->
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="modules/core/client/img/brand/lwgirl.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
               <!--  <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a> -->
            </div>
           <!--  <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div> -->
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
       <!-- <!--  <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
       <!--  <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>  -->
        <!-- /.row -->

        <!-- <hr> -->

        <!-- Pagination -->
       <!--  <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- <hr> -->

        <!-- Footer -->
        <!-- <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        <!-- </footer> -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="public/lib/theme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="public/lib/theme/js/bootstrap.min.js"></script>

</body>
 <!--  <div class="page-header">
     <label class="control-label" for="iq">IQ</label>
    <h1 ng-bind="vm.want.iq"></h1>
     <label class="control-label" for="eq">EQ</label>
    <h1 ng-bind="vm.want.eq"></h1>
     <label class="control-label" for="eyeColor">Eye Color</label>
    <h1 ng-bind="vm.want.eyeColor"></h1>
    <label class="control-label" for="disc">D.I.S.C</label>
    <h1 ng-bind="vm.want.disc"></h1>
    <label class="control-label" for="interest">Interests</label>
    <h1 ng-bind="vm.want.interest"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.want.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="wants.edit({ wantId: vm.want._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.want.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.want.user"
            ng-bind="vm.want.user.displayName"></span>
      <span ng-if="!vm.want.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.want.content"></p> -->
</section>
